header {
  display: flex;
  width: 1520px;
  min-width: 1520px;
  max-width: 1520px;
  margin: 8px auto;
  align-items: baseline;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  .logo {
    font-family: var(--font-titillium);
    font-size: 1.5rem;
    padding-top: 0rem;
    margin-right: 2rem;
    color: var(--green-color);
    text-decoration: none;
    white-space: nowrap;
  }

  .nav-bar {
    display: flex;
    gap: 16px;
    margin-left: auto;
    list-style-type: none;

    li {
      color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      white-space: nowrap;
      &:hover,
      &.active {
        color: rgba(0, 0, 0, 0.8);
      }

      .user-avatar {
        height: 26px;
        border-radius: 50px;
        float: left;
        margin-right: 5px;
      }
    }
  }

  .navbar-brand {
    animation: rotateInfinite 5s linear infinite, rainbow 3s linear infinite;
  }

  .nav-link {
    animation: bounceUpDown 2s ease-in-out infinite;

    &:hover {
      animation: shake 0.5s ease-in-out infinite;
    }
  }
}

